﻿@model IEnumerable<GuildCars.Models.Tables.Special>

@{
    ViewBag.Title = "Special";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Specials</h3>
        @foreach(var special in Model)
        {
            <div class="col-xs-12">
                <div id="SpecialItemImage" class="col-xs-4">
                    <p><img src="@Url.Content("~/Images/" + special.SpecialImageFileName)" /></p>
                </div>
                <div class="col-xs-8">
                    <p><h4>@special.SpecialName</h4></p>
                    <p>@special.SpecialDescription</p>
                </div>
            </div>
        }
    </div>
</div>

