﻿@model GuildCars.UI.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit User</h3>
    </div>
</div>
@using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-xs-12">
        <form>            
            <div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Roles, new { @class = "control-label" })
                    @Html.DropDownList("role", new SelectList(Model.Roles, "RoleName", "RoleName"), new { @class = "form-control" })
                </div>
            </div>
            <div>
                <div class="form-group col-md-6">
                    <label for="NewPassword" class="control-label">Password</label>
                    <input type="password" id="NewPassword" name="NewPassword" class="form-control"/>
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-xs-12">
                @Html.Hidden("CurrentEmail", Model.CurrentEmail)
                <button id="createButton" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
}